@import url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
* {
    font-family: Maven pro, sans-serif;
}

body {
    background-color: #4c5067;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 500px) {
    .pag,
    .hard {
        width: 100% !important;
        height: 550px !important;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .pag,
    .hard {
        width: 100% !important;
        height: 550px !important;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .pag,
    .hard {
        width: 100% !important;
        height: 550px !important;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .pag,
    .hard {
        width: 29.3vw !important;
        height: 550px !important;
    }
}

.container {
    margin: auto;
    width: 100%;
}

#beneficios {
    margin: auto;
}

.portada {
    background-color: white;
    border: 10px solid #b8b1ac;
    border-left: none;
}

.logo {
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.c-n {
    width: 150px;
    height: 150px;
    background-color: #f1793f;
    float: right;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
}

.c-b {
    width: 120px;
    height: 120px;
    margin: 10px auto;
    border: 5px solid white;
}

.c-a {
    width: 236px;
    height: 240px;
    background-color: #465e88;
}

.c-n-2 {
    width: 150px;
    height: 150px;
    background-color: #f1793f;
    float: left;
}

.titulo {
    width: 180px;
    height: 150px;
    float: right;
    margin-top: 30px;
}

.hard {
    background-color: #465e88;
    border: 7px solid #b8b1ac;
}

.wowbook-page-content {
    width: 100% !important;
}

.intro {
    width: 150px;
    height: 140px;
    color: white;
    font-size: 12px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-top: 250px;
    margin-left: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pag {
    background-color: white;
    border: 7px solid #b8b1ac;
    padding-left: 25px;
    padding-right: 25px;
}

.tit {
    color: #f1793f;
    text-align: center;
    margin-top: 200px;
}

.sub-tit {
    color: #f1793f;
    text-align: center;
    font-size: 20px;
}

.sub-tit-2 {
    color: #f1793f;
    font-size: 20px;
}

.info {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    width: 160px;
    height: 180px;
    border-bottom: 3px solid #465e88;
}

.sub-tit-3 {
    width: 180px;
    height: 60px;
    background-color: #f1793f;
    color: white;
    font-size: 20px;
    padding-left: 5px;
}

.icono {
    float: right;
    height: 150px;
    margin-top: 30px;
    margin-left: 19px;
}

.foot {
    float: right;
    width: 350px;
    height: 190px;
    margin-top: 20px;
    background: rgb(219, 219, 219);
    position: absolute;
}

.fhoto {
    height: 130px;
}

.mensaje {
    background: #465e88;
    height: 130px;
    padding-top: 10px;
}

.text {
    color: #465e88;
    font-size: 11px;
}

.text-2 {
    color: white;
    font-size: 11px;
}

h5 {
    color: #f1793f;
}

.rombo {
    width: 15px;
    height: 15px;
    border: 2px solid #f1793f;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
}

.rombo-2 {
    width: 10px;
    height: 10px;
    border: 2px solid #f1793f;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
}

nav {
    height: 30px;
    text-align: center;
    position: initial;
    z-index: 100;
}

nav ul {
    padding: 0;
    list-style: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d5d5d5 #d2d2d2 #cdcdcd;
    border-radius: 6px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

nav li {
    float: left;
    border-left: 1px solid #d2d2d2;
}

nav li:first-child {
    border-left: 0;
}

nav li:first-child a {
    border-radius: 6px 0 0 6px;
}

nav li:last-child a {
    border-radius: 0 6px 6px 0;
}

nav a {
    display: block;
    padding: 0 14px;
    font-size: 11px;
    font-weight: bold;
    color: #666;
    color: rgb(221, 221, 221);
    height: 30px;
    line-height: 30px;
    text-shadow: 0 1px #fff;
    background: #fafafa;
    background-color: #fcfcfc;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -ms-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: linear-gradient(top, #fcfcfc, #f0f0f0);
    background-color: #2c2c2c;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
}

nav a:hover {
    color: #333;
    color: rgb(221, 221, 221);
    /* FIXME */
    z-index: 10;
    text-decoration: none;
}

nav li.active a,
nav a:active,
nav a:visited {
    color: #333;
    color: rgb(221, 221, 221);
    background: #fff;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}